body {
    width: 100%;
max-width: 300px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(154, 146, 146);
}

h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    text-align: center;
}

h4 {
    margin: 0 0 30px 0;
    font-size: 20px;
    text-align: center;
}

.DatosPersonas {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    padding: 8px;
    width: 300px;
    cursor: pointer;
}

/* ESTE ES EL CORRECTO */
.DatosPersonas::placeholder {
    font-size: 20px;
}

.Botones-Tamaño{
    margin: 10px 0;
    text-align: center;
}

.Botones button{
    text-transform: uppercase;
    margin: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.TamañoGIF {
    text-align: center;
    margin-top: 20px;
}
.TamañoGIF img {
    width: 400px;
    height: auto;

}
